// Colors

//// Primary

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan : hsl(167, 40%, 24%);
$darkBlue : hsl(198, 62%, 26%);
$darkModerateCyan : hsl(168, 34%, 41%);

//// Neutral

$veryDarkDesaturatedBlue: #24303E;
$veryDarkGrayishBlue: #5B636D;
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: #A7AAAD;
$white: hsl(0, 0%, 100%);

//fonts

$mainFont : 'Barlow';
$secondaryFont : 'Frauncess';
